@CHARSET "UTF-8";

/* @font-face {font-family:MalgunGothic; src:url(../fonts/malgun.ttf);}

*{
	font-family:'MalgunGothic';
}
 */
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
/* 	background-color : rgb(16, 18, 20); */
	background-color : black;
	font-family: 'Helvetica';
}

.container{
	width: 100%;
	background-color : rgb(16, 18, 20); 
}

.mainTable{
	width: 100%;
}
.tr1, .tr2, .layoutTd{
	background-color:rgb(50,50,50);
	text-align: center;
}

.neon1{
	color:rgb(86,215,250);
  	font-family:PressStart;
  	font-weight: bolder;
}

.neon2{
	color:rgb(100,238,92 );
  	font-family:PressStart;
  	font-weight: bolder;
}

.neon3{
	color:rgb(231,71,79 );
  	font-family:PressStart;
  	font-weight: bolder;
}

#menu_btn{
	position: absolute;
	cursor: pointer;
	z-index: 999999;
}
 
.selected_menu{
	background-color :rgb(33,128,250);
	color : white;
}

.unSelected_menu{
	background-color :gray;
	color : white
}

.activeMenu{
	background-color :rgb(33,128,250);
	color : white
}

.page{
	position: absolute;
	width: 100%;
}

#status3_1, #status3_2{
	width: 100%;
}

.wrap{
	background-color: white;
	position: absolute;
	cursor: pointer;
	transform-style: preserve-3d;
}


.frame{
	padding: 5px;
}

.opRatio{
	color: blue;
	font-weight: bolder;
}

.comName{
	font-weight: bolder;
}

.front{
  	-webkit-transform: rotateY(0deg);
}
.back{
	-webkit-transform: rotateY(180deg);
	/* transform: rotateY(180deg); */
 	position: absolute;
}

.card_table{
	text-align: center;
	width: 100%;
}

.front, .back{
	-webkit-backface-visibility: hidden;
   	/* -ms-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
	backface-visibility: hidden; */
}

.card_back{
	font-weight:bolder;
	width: 95%
}

.label{
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#jigList, #wcList{
	cursor: pointer;
	font-size: 20px;
}

#wcSelector{
	margin-right: 10px;
	margin-left: 10px;
	border-radius : 5px;
	cursor: pointer;
}

.menu:HOVER{
	background-color: white;
	color: gray;
}